/* Unordered list */
ul {
  position: absolute;
  top: 5px;
  left: 260px;
  width: 100%;
  padding-top:15px;
  display: inline-block;
  font-size: 16px;
  font-family: arial;
  list-style-type: none;

}

/* actual words in unordered list*/
li a {
    display: block;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    float: left;
    padding: 5px 35px;
    text-align: center;
    color: white;
    background-color: rgba(77,77,77,.7);
}

/*hover color*/
li a:hover {
    background: rgba(19,55,131,.8);
}

/*fading the logo*/ 
body a:hover {
  opacity: 0.6;
}

/*Page name highlighted*/ 
.Events {
  background: rgba(19,55,131,.8);
  border-color: black;
  color: white;
}

#Rave {
  font-family: 'Oswald', sans-serif;
}

/*background image*/ 
body {
  background-image: url('../images/OutsideNYU.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

/*calendar*/ 
iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#burger {
  display: none;
}

#mobile-nav {
  display: none;
}

#mobile-nav a {
  display: block;
  color: white;
  text-align: center;
}

@media screen and (max-width: 980px){
  #burger{
    display: block;
    float: right;
    background-color: black;
  }

  #large-nav{
    display: none;
  }

  #mobile-nav a {
      float: none;
      display: block;
      text-align: left;
    }

}
