p {
  float: left;
  text-align: center;
  font-size: 40px;
  padding-left: 20px;
  position: relative;
  top: -70px;
  left: -20px;
}

/* Unordered list */
ul {
  position: absolute;
  top: 5px;
  left: 260px;
  width: 100%;
  padding-top:15px;
  display: inline-block;
  font-size: 16px;
  font-family: arial;
  list-style-type: none;

}

/* actual words in unordered list*/
li a {
    display: block;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    float: left;
    padding: 5px 35px;
    text-align: center;
    color: white;
    background-color: rgba(77,77,77,.7);
}

li a:hover {
    background: rgba(19,55,131,.8);
    border-color: black;
    color: white;
}

/*fading the logo*/ 
body a:hover {
  opacity: 0.6;
}

div img {
  height: 400px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#Rave iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 200px;
}

#space {
  background-color: red;
}

.Photos {
  background: rgba(19,55,131,.8);
  border-color: black;
  color: white;
}

#Rave {
  left: 25%;
  font-family: 'Oswald', sans-serif;
}

#burger {
  display: none;
}

#mobile-nav {
  display: none;
}

#mobile-nav a {
  display: block;
  color: white;
  text-align: center;
}

@media screen and (max-width: 980px){
    
    #burger{
      display: block;
      float: right;
      background-color: black;
    }

    #large-nav{
      display: none;
    }

    #Rave {
      position: absolute;
      top: 130px;
      left: 0px;
    }

    #mobile-nav a {
      float: none;
      display: block;
      text-align: left;
    }

}
