p {
  font-family: 'Arvo', serif;
  float: left;
  font-size: 60px;
  padding-left: 20px;
  position: relative;
  top: -70px;
  left: -20px;
  font-weight: bold;
}

header {
  padding-left: 10px;
  border-width: 5px;
}

/* Unordered list */
ul {
  position: absolute;
  top: 5px;
  left: 260px;
  width: 100%;
  padding-top:15px;
  display: inline-block;
  font-size: 16px;
  font-family: arial;
  list-style-type: none;

}

/* actual words in unordered list*/
li a {
    display: block;
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    float: left;
    padding: 5px 35px;
    text-align: center;
    color: white;
    background-color: rgba(77,77,77,.7);
}

li a:hover {
    background: rgba(19,55,131,.8);
    border-color: black;
    color: white;
}

ul {
  display: inline-block;
  list-style-type: none;
}


#Home {
  font-family: 'Pacifico';
  font-weight: bold;
  font-size: 60px;
  left: 10%;
  top: -185px;
}

body {
  background-image: url('../images/WSP6.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

#burger {
  display: none;
}

#mobile-nav {
  display: none;
  background-color: yellow;
}

#mobile-nav a {
  display: block;
  color: black;
  text-align: center;
  widows: 100%;
}

@media screen and (max-width: 1024px){
  #burger{
    display: block;
    float: right;
  }

  #mobile-nav{
    display: block;
    width: 100%;
  }

  #large-nav{
    display: none;
  }
}



